<html>
<head>
<title>template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (template.psd) -->
<table id="Table_01" width="1000" height="701" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<img src="images/logo_header.gif" width="140" height="121" alt=""></td>
		<td>
			<img src="images/text_header.gif" width="281" height="121" alt=""></td>
		<td colspan="2">
			<img src="images/log_header.gif" width="579" height="121" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/template_04.gif" width="120" height="25" alt=""></td>
		<td colspan="3">
			<img src="images/log_menu_atas.gif" width="693" height="25" alt=""></td>
		<td>
			<img src="images/template_06.gif" width="187" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="images/log_background.gif" width="1000" height="529" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="images/log_menu_bawah.gif" width="1000" height="25" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="120" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="281" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="392" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="187" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>